.grid_spacing {
  margin-top: 1em;
}

.update_phone_message {
    text-align: center;
}

.input_phone_number_message {
  margin-right: 11em;
  margin-top: 1em;
}


.label_error {
  margin-top: 1em;
}

.list_item_header {
  margin-top: 1em;
}

.queued_reminders_header {
  text-align: center;
}

.queue_reminders {
  height: 30%;
  overflow: scroll;
}


.completed_reminders_header {
    text-align: center;
}

.completed_reminders {
  height: 40%;
  overflow: scroll;
}

.center_buttons {
    margin-left: 1em;
    margin-top: 0.5em;
    width: 50%;
    padding: 5px;
}
