



@media (min-width: 320px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    position: absolute;
    top: 4em;
    text-align: center;
  }
  .coverImage {
    width: stretch;
  }
}


@media (min-width: 360px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 35px;
    position: absolute;
    top: 4em;
    text-align: center;
  }
  .coverImage {
    width: stretch;
  }
}


@media (min-width: 412px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    position: absolute;
    top: 4em;
    text-align: center;
  }
  .coverImage {
    width: stretch;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 72px;
    position: absolute;
    top: 4em;
  }
  .coverImage {
    width: stretch;
  }
}

@media (min-width: 992px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 72px;
    position: absolute;
    width: inherit;
    top: 5em;
    left: 55px;
    right: 75px;
  }
  .coverImage {
    width: stretch;
  }
}

@media (min-width: 1200px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 72px;
    position: absolute;
    width: inherit;
    top: 8em;
  }
  .coverImage {
    width: stretch;
  }
}

@media (min-width: 2560px) {
  .coverText {
    font-family: 'Tangerine', serif;
    font-size: 124px;
    position: absolute;
    width: inherit;
    top: 8em;
  }
  .coverImage {
    width: stretch;
  }
}
