.tools {
  width: 19%;
  margin: auto;
}

.sort_tool {
  margin-top: 1.6em;
  float: left;
}

.reset_button {
  float:left;
  margin-top: 1.6em;
}

.sort_labels_dropdown {
  float: left;
  margin-top: 1.6em;
}

.add_button {
  float:left;
}

.send_email_button {
  float: left;
}

.add_send_buttons {
  padding-top: 1.5em;
}


.add_send_sort_buttons {
  width: 55%;
  margin: auto;
}

.closed_deal_label {
  width: 100%;
  text-align: -webkit-center;
}

.close_deal_div {
  margin: auto;
  width: 100%;
}

.close_deal_segment {
  margin-top: 6em;
}

.close_deal_searchbar {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.address_modal_label {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
